.row-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row-start{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.row-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.column-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hover-div:hover{
  cursor: pointer;
}
